:root{
  --black: #202020;
  --textAres: #D9D9D9;
  --blue: #7E99FA;
  --blue-shadow: #434E78;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Sanchez', serif;
}
body{
  background-color: var(--black);
} 
#title{
  color: var(--textAres);
  font-size: 8em;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.inputs{
  display: flex;
  flex-direction: column;
}
#textDe{
  resize: none;
  height: 40vh;
  margin: 10px;
  max-width: 800px;
  width: 800px;
}
footer{
  display: flex;
  justify-content: space-between;
  color: var(--textAres);
  height: 3vh;
  font-size: 2em;
}
.textArea{
  background-color: var(--textAres);
  border: none;
  border-radius: 16px;
}
.textArea:focus{
  outline: none;
}
.inputs input{
  height: 3vh;
  max-width: 800px;
  width: 800px;
}
#textT{
  margin-bottom:  10px;
}
select{
  height: 3vh;
  margin-top: 10px;
  max-width: 800px;
  width: 800px;
}
#accion{
  border-radius: 16px;
  background-color: var(--blue);
  border: none;
  width: 170px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  transition: all 1s;
}
button:hover{
  background-color: var(--blue-shadow);
  color: var(--textAres);
}
footer p{
  margin-top: 10px;
}
.redes i{
  margin-top: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.main{
  height: 97vh;
}
footer i{
  margin-top: 10px;
  cursor: pointer;
}